* {
  box-sizing: border-box;
}

body {
  width: 480px;
  height: 767px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* Media Query for Desktop */
@media screen and (min-width: 768px) {
  body {
    max-width: 960px;
    width: 960px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  
}
