* {
  box-sizing: border-box;
}

body {
  margin-left: auto;
  margin-right: auto;
}

/* Media Query for Desktop */
@media screen and (min-width: 768px) {
  body {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}