
header {
  background-color: lightblue;
}

nav {
  background-color: cornflowerblue;
}

#c {
  background-color: lightcyan;
}

#d {
  background-color: lightskyblue;
}

div:nth-child(1) {
  background-color: teal;
}

div:nth-child(2) {
  background-color: midnightblue;
}

div:nth-child(3) {
  background-color: cyan;
}

div:nth-child(4) {
  background-color: azure;
}

footer {
  background-color: aquamarine;
}

@media screen and (min-width: 600px) {
  header {
    background-color: gray;
  }
  
  nav {
    background-color: olive;
  }

  #c {
    background-color: cadetblue;
  }
  
  #d {
    background-color: olivedrab;
  }

  div:nth-child(1) {
    background-color: darkslategray;
  }
  
  div:nth-child(2) {
    background-color: seagreen;
  }
  
  div:nth-child(3) {
    background-color: teal;
  }
  
  div:nth-child(4) {
    background-color: darkolivegreen;
  }
  
  footer {
    background-color: mediumseagreen;
  }
}

@media screen and (min-width: 768px) {

  header {
    background-color: coral;
  }
  
  nav {
    background-color: lightpink;
  }

  #c {
    background-color: orange;
  }
  
  #d {
    background-color: wheat;
  }

  div:nth-child(1) {
    background-color: peru;
  }
  
  div:nth-child(2) {
    background-color: palevioletred;
  }
  
  div:nth-child(3) {
    background-color: goldenrod;
  }
  
  div:nth-child(4) {
    background-color: rosybrown;
  }
  
  footer {
    background-color: indianred;
  }
}

