
header {
  /* line-height: 75px; */
  background-color: lightblue;
}

nav {
  /* line-height: 150px; */
  background-color: cornflowerblue;
}

.section1 {
  /* line-height: 125px; */
}

#c {
  background-color: lightcyan;
}

#d {
  background-color: lightskyblue;
}

.section2 {
  /* line-height: 240px; */
}

div:nth-child(1) {
  background-color: teal;
}

div:nth-child(2) {
  background-color: midnightblue;
}

div:nth-child(3) {
  background-color: cyan;
}

div:nth-child(4) {
  background-color: azure;
}

footer {
  /* line-height: 80px; */
  background-color: aquamarine;
}

@media screen and (min-width: 768px) {

  header {
    /* line-height: 100px; */
    background-color: coral;
  }
  
  nav {
    /* line-height: 600px; */
    background-color: lightpink;
  }

  #c {
    background-color: orange;
  }
  
  #d {
    background-color: wheat;
  }

  div:nth-child(1) {
    background-color: peru;
  }
  
  div:nth-child(2) {
    background-color: palevioletred;
  }
  
  div:nth-child(3) {
    background-color: goldenrod;
  }
  
  div:nth-child(4) {
    background-color: rosybrown;
  }
  
  .section1 {
    /* line-height: 200px; */
  }
  
  .section2 {
    /* line-height: 250px; */
  }
  
  footer {
    /* line-height: 150px; */
    background-color: indianred;
  }
}
